<nav class="nav_bar">
    <section class="nav_spacer">
        <div class="nav_logo_container">
            <!-- TODO put logo here -->
            LOGO
        </div>
        <div class="nav_btn_container">
            <div class="nav_link_container">
                <a class="nav_link" href="">Profile</a>
            </div>
            <div class="nav_link_container">
                <a class="nav_link" href="">Logout</a>
            </div>
        </div>
    </section>
</nav>