<nav class="nav_bar">
    <section class="nav_spacer">
        <div class="nav_logo_container">
            <!-- TODO put logo here -->
            LOGO
        </div>
        <div class="nav_btn_container">
            <!-- TODO add logic for if user is logged in -->
            <div class="nav_link_container">
                <a class="nav_link" href="/login">Login</a>
            </div>
        </div>
    </section>
</nav>